
<%- include("partials/header"); -%>


    <div class="container">
        <h3><%=blog.title%></h3>
        <div class="imgbox"><img src="<%=blog.image%>" class="postImage"/></div>
        <p style="text-align: justify;"><%=blog.content%></p>
    </div>



<%- include("partials/footer"); -%>
