<%- include('partials/header'); -%>

    <%  blogs.forEach((blog) => { %>

      <div class="container-fluid box">
        <div class="row">
          <div class="content col-md-10">
            <h4><a href="/blogs/<%=blog._id%>"><%=blog.title%></a></h4>
            <p style="text-align: justify;">
            <%=blog.content.substring(0, 500) + " ..."%>
            <a href="/blogs/<%=blog._id%>">Read More</a>
            </p>
          </div>
          <div class="image col-md-2">
            <img src="<%=blog.image%>" alt="" class="img-thumbnail homeImage"/>
          </div>
        </div>
      </div>
    
    
        <% }) %>
<%- include('partials/footer'); -%>