
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <div class="imgbox"><img src="/Images/<%=image%>" class="postImage"/></div>
    <p><%=content%></p>



<%- include("partials/footer"); -%>
