

<%- include("partials/header"); -%>
    <div class="container form_1">
        <h3>Register</h3>
        <form class="" action="/users/register" method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="name" value="<%=typeof name != 'undefined'?name:''%>">
            <label>Email</label>
            <input class="form-control" type="email" name="email" value="<%=typeof email != 'undefined'?email:''%>">
            <label>Password</label>
            <input class="form-control" type="password" name="password" value="<%=typeof password != 'undefined'?password:''%>">
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="password2" value="<%=typeof password2 != 'undefined'?password2:''%>">
        </div>
        <div><p>Already had an account?<a href="/users/signin">Sign In</a></p></div>
        <button class="btn btn-primary" type="submit" name="button" style="margin-bottom: 10px;">Sign Up</button>
        </form>
    </div>

<%- include("partials/footer"); -%>
